<h3 class="text-center" style="margin-bottom: 20px; ">
  QR Code de la salle</h3>
<div>
  <img class="qr" src="{{qr_code}}" alt="QR Code" />
  <a
    href="javascript:history.back()"
    role="button"
    class="btn btn-primary"
  >Back</a>
</div>


<style>
  .qr,.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    max-width: 85%;
  }
</style>